{{ define "main" }}
  <h1>Publications</h1>
  <ul>
    {{ $data := "" }}
    {{ $opts := dict
        "headers" (dict  "Content-Type" "application/json")
    }}
    {{ $url := "https://pub.orcid.org/v3.0/0000-0002-1631-7083" }}

    {{ with resources.GetRemote $url $opts }}
      {{ with .Err }}
        {{ errorf "%s" . }}
      {{ else }}
      {{ $data = . | transform.Unmarshal }}
      {{ range $data }}
      <li>
        {{ . }}
        {{/*  {{ $work_summary := index . "work-summary" }}
        {{ $work_summary }}
        {{ $element0 := index $work_summary 0}}
        <h2>{{ $element0.title.title.value }}</h2>  */}}
        {{/*  <p>{{ .publicationDate }}</p>  */}}
        <!-- Add more fields as needed -->
      </li>
      {{ end }}
      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}
  </ul>
{{ end }}