{{ $id := .Get "id"}}
{{ $name := "" }}
{{ if isset .Params "name" }}
{{ $name = .Get "name"}}
{{/*  {{ else }}  */}}
{{/*  {{ $name := index (split site.Author.name " ") (sub (len (split site.Author.name " ")) 1) }}  */}}
{{ end }}

{{/*  Fetch data  */}}
{{ $url := (printf "https://pub.orcid.org/v3.0/%s/works" $id)}}
{{ $data := "" }}
{{ with resources.GetRemote (printf $url) }}
{{ $data = .Content | transform.Unmarshal }}
{{ else }}
{{ errorf "Mardown Importer Shortcode - Unable to get remote resource" . }}
{{ end }}

{{ with $data.group }}

<style>
    ol.bib {
        counter-reset: item {{ add (len .) 1 }};
    }
    .bib li {
        display: block;
    }
    .bib li:before {
        content: "[" counter(item) "] ";
        counter-increment: item -1;
    }
    .bib li > p, .names > p {
        margin:0;
        display:inline;
    }
    .names {
        display:inline;
    }
</style>

{{/*  Filter unique publication types from ORCID  */}}
{{ $types := slice }}
{{ range . }}
{{ with index . "work-summary" }}
{{ with index . "type" }}
{{ $types = $types | append . }}
{{ end }}
{{ end }}
{{ end }}
{{ $types = $types | uniq | sort }}

{{ range $headerType := $types }}
## {{ (replace $headerType "-" " ") | title }}
<ol class="bib">
{{ range $data.group }}

{{ with index . "work-summary" }}

{{ $code := index . "-put-code" }}
{{ $work := "" }}
{{ with resources.GetRemote (printf "https://pub.orcid.org/v3.0/%s/work/%s" $id $code) }}
{{ $work = .Content | transform.Unmarshal }}
{{ else }}
{{ errorf "Mardown Importer Shortcode - Unable to get remote resource" . }}
{{ end }}

{{ with $work }}
{{ if eq .type $headerType }}
<li style="max-width:100%;">
{{ with .url }}
<p><i><a href="{{ . }}" target="_blank">{{ $work.title.title }}.</a></i></p>
{{ else }}
<p><i>{{ .title.title }}.</i></p>
{{ end }}

<div class="names">
{{ $authors := (apply .contributors.contributor "index" "." "credit-name") }}
{{/*  Create paragraph for each author  */}}
{{ range $index, $author := $authors }}
{{/*  But if the item contains the name provided, then underline it  */}}
{{ if and (ne $name "") (strings.Contains $author $name) }}
<p><u>{{ . }}</u></p>
{{ else }}
<p>{{ . }}.</p>
{{ end }}
{{/*  Put a semicolon after each author, except the last one.  */}}
{{ if eq $index (sub (len $authors) 1) }}
<p>,</p>
{{ else }}
<p>;</p>
{{ end }}
{{ end }}
</div>

{{ with index . "journal-title" }}
<p>{{ . }},</p>
{{ end }}
{{ with index . "publication-date" }}
<p>{{ .year }}.</p>
{{ end }}
</li>
{{ end }}
{{ end }}

{{ end }}
{{ end }}

{{ end }}
</ol>

{{ end }}