{{ $id := .Get "id"}}
{{ $url := (printf "https://pub.orcid.org/v3.0/%s/works" $id)}}
{{ $data := "" }}
{{ with resources.GetRemote (printf $url) }}
{{ $data = .Content | transform.Unmarshal }}
{{ else }}
{{ errorf "Mardown Importer Shortcode - Unable to get remote resource" . }}
{{ end }}

{{ with $data.group }}

<style>
    ol.bib {
        counter-reset: item {{ add (len .) 1 }};
    }
    .bib li {
        display: block;
    }
    .bib li:before {
        content: "[" counter(item) "] ";
        counter-increment: item -1;
    }
</style>

<ol class="bib">
{{ range . }}

{{ with index . "work-summary" }}

{{ $code := index . "-put-code" }}
{{ $work := "" }}
{{ with resources.GetRemote (printf "https://pub.orcid.org/v3.0/%s/work/%s" $id $code) }}
{{ $work = .Content | transform.Unmarshal }}
{{ else }}
{{ errorf "Mardown Importer Shortcode - Unable to get remote resource" . }}
{{ end }}

{{ with $work }}
<li>
    {{ with .url }}
    <i><a href="" target="_blank">{{ $work.title.title }}.</a></i>
    {{ else }}
    <i>{{ .title.title }}.</i>
    {{ end }}
    {{ delimit (apply .contributors.contributor "index" "." "credit-name") "; " }}.
    {{ with index . "journal-title" }}
    {{ . }}, 
    {{ end }}
    {{ with index . "publication-date" }}
    {{ .year }}.
    {{ end }}
</li>
{{ end }}

{{ end }}
{{ end }}

{{ end }}
</ol>